@using DataProvider;
@model Medicine

@{
    ViewBag.Title = "Create";
    
}

<style>
    fieldset {
        background-color: aquamarine;
        border-radius: 5px;
        padding: 20px;
    }
    .container{
        margin-top:10px;
        margin-bottom:10px;
    }
    button{
        margin-right:50%;
        margin-top:10px;
    }
</style>
<div class="container">
    <form method="post" action="/Pharmacy/Create">
        <fieldset>
            <legend>Add Medicine</legend>
            <div class="form-row justify-content-center">
                <div class="form-group w-50">
                    <label for="staticName">Name</label>
                    @Html.TextBoxFor(medi => medi.Name, new { type = "text", @class = "form-control", placeholder = "Enter Name", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label class="label">Price</label><br />
                    <input type="text" name="txtprice" class="form-control"  placeholder="Enter Price"/>
                </div>
                <div class="form-group w-50">
                    <label for="exampleInputStock">Stock</label>
                    @Html.TextBoxFor(medi => medi.Stock, new { type = "number", @class = "form-control", placeholder = "Enter Stock", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="exampleInputTax">Tax</label>
                    @Html.TextBoxFor(medi => medi.Tax, new { type = "number", @class = "form-control", placeholder = "Enter Tax", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="exampleIsAvailable">IsAvailable</label>
                    @Html.DropDownListFor(medi => medi.IsAvailable, new SelectList(new List<Object> {
                new { Id = true, Value="Yes" },
                new { Id = false, Value="No" } }, "Id", "Value"), new { @class = "form-control" })
                </div>
                <div class="form-group w-100 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
