body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This sets the login box to be centered vertically */
}


/*.log {
    width: 1100px;
    height: 750px;
    background-position: center;
    margin: 20px;
    background-color: aquamarine;
    background-size: cover;
}*/

.log {
    width: 100%; /* Adjust the width as needed */
    height: 110vh; /* Set the height to cover the entire viewport height */
    background-image: url('your-background-image-url.jpg'); /* Replace 'your-background-image-url.jpg' with the actual image URL */
    background-size: cover;
    background-position: center;
    background-color:aquamarine;
    
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the background image behind other elements */
    opacity: 0.7; /* Adjust the opacity as needed */
}

.loginbox {
    width: 350px;
    height: 480px;
    background: black;
    color: #ffffff;
    top: 22%;
    left: 35%;
    position: absolute;
    box-sizing: border-box;
    padding: 50px 45px;
    opacity: .8;
}

.avatar {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    position:absolute;
    top: -7%;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family: AR JULIAN;
    color: aqua;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

    .loginbox input[type="email"], input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .loginbox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: aqua;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }

        .loginbox input[type="submit"]:hover {
            cursor: pointer;
            background: #95e8e9;
            color: red;
        }

.loginbox a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: aqua;
}

    .loginbox a:hover {
        color: #5e8eaf;
    }

.active {
    color: #fff;
    background: #e02626;
    border-radius: 4px;
}


input[type=checkbox] {
    display: flex;
    align-items: flex-end;
}


