
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: aquamarine;
}
.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-right:50%;
}
