
/* Style the form container */
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: aquamarine;
}
.bg{
    margin-top:10px;
    margin-bottom:10px;
}
legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style form labels */
label {
    font-weight: bold;
}

/* Style form inputs */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-left: 50%;
}



