@{
    ViewBag.Title = "About My Clinic ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <div>
        <p> Our Vision, Mission and Values</p>
        <p>  Vision: To be a trusted, people-centric integrated healthcare system as a model for global healthcare.</p>

        <p> Mission: To provide the best and cost-effective care, accessible to every patient through integrated clinical practice, education and research.</p>

        <p>
            Values:

            Transparency: Being transparent requires courage and we stand for transparency. Every aspect of our business is clear and comprehensive to the relevant stakeholder and we never compromise on the fundamentals at any cost.<br />
            Teamwork: A collaborative work ecosystem is where all the collective efficiencies are harnessed and propelled towards delivering the best possible care.<br />
            Empathy & Compassion: The ability to understand and respond to the feelings of both the patients and the employees, so that all the services are rendered in a supportive work environment with a humane touch.<br />
            Excellence: When every action aims at enhancing quality, the outcome is always excellence. Each member in our team strives with the same intensity in every action, be it healthcare or any other dimension of the organisational processes.
            Education: Learning continuously to create an advanced and sustainable healthcare system that results in collective growth of both the employees and the organization.<br />
            Equity: Mutual trust based on fair and impartial consideration of all professional matters, so that it can foster positive contribution towards the institutional purpose.
            Mutual trust & respect: We do not discriminate against anyone on any grounds. Respect is a traditional trait in us and we respect everyone, for we believe that trust grows respect, which forms the foundation of real success.
        </p>
        
    </div>
</main>