@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title:</h2>
    

    <address>
        On Clinic Working days <br />
        & about my clinic services <br />
        come and visit my web site:<br />
        <a href="www.clinic.com">www.clinic.com</a><br />
        <abbr title="Phone">Contact Number :</abbr>
        +1498765
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">rllclinic@eyahoo.com</a><br />
        <strong>Reception:</strong> <a href="mailto:Marketing@example.com">rllclinic@gmail.com</a>
    </address>
</main>