
@{
    ViewBag.Title = "_PharmacyOptions";
}

<div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            @Html.ActionLink("View Medicine", "Index", "Pharmacy", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("Create Medicine", "Create", "Pharmacy", null, new { @class = "nav-link" })
        </li>
    </ul>

    <form action="/Account/Logout" method="post" class="form-inline my-2 my-lg-0">
        <span class="nav-link text-light"> Hi,Pharmacist,Mr./Miss. @Session["Name"],</span>
        <a class="btn btn-info my-2 my-sm-0" href="/Account/EditUser">Edit Profile</a>
        <button class="btn btn-secondary ml-1 my-2 my-sm-0" type="submit">LogOut</button>
    </form>
</div>

